<html lang="en">
<head>
    <!--<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css" />-->

    <link rel="stylesheet" href="/static/pure-min.css"/>
    <link rel="stylesheet" href="/static/app.css"/>

    <script src="/static/htmx.min.js"></script>
    <script defer src="//cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <script>var csrf_token = "{{ csrf_token() }}";</script>
    <script src="/static/app.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <title>Capturista!</title>
</head>

<body>

<div class="pure-menu pure-menu-horizontal">
    <h3 class="brand pure-menu-heading">Capturista!</h3>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/" class="pure-menu-link">Overview</a></li>
        <!--<li class="pure-menu-item"><a href="#" class="pure-menu-link">Settings</a></li>-->
    </ul>
</div>

<div class="container pure-g">
    {% block page %}{% endblock %}
</div>

</body>
</html>