{% extends "_base.html" %}

{% block page %}
    <div class="pure-u-4-5" x-data="$store.sources">
        <p><a class="pure-button pure-button-primary" href="/sources/new">Create New</a></p>
        <table class="pure-table pure-table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Last run</th>
                <th>Status</th>
                <th>Preview</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for s in sources %}
                <tr>
                    <td><a href="/sources/{{ s.id }}/edit">{{ s.name }}</a></td>
                <td>{{ loader_names[s.loader_id|string] }}</td>
                <td></td>
                <td></td>
                    <td></td>
                <td><button class="button-small button-success pure-button"
                                @click="request('/api/sources/{{ s.id }}/trigger', {method: 'put'})">Run
                        </button></td>
                </tr>
            {% endfor %}
            <template x-for="s in data">
                <tr>
                    <td><a :href="'/sources/' + s.id + '/edit'" x-text="s.name ? s.name : 'untitled'"></a><br />
                    <small style="color: gray;" x-text="!s.autoload ? '(disabled)' : '' "></small></td>
                    <td x-text="s.capture_type"></td>
                    <td x-text="s.last_run"></td>
                    <td x-text="s.status"></td>
                    <td><a :href="s.image_url"><img :src="s.thumbnail_url" class="preview" alt=""></a></td>
                    <td>
                        <button class="button-small button-success pure-button"
                                @click="request('/api/sources/' + s.id + '/trigger', {method: 'put'})">Run
                        </button>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
    <!--<script>startWatch();</script>-->
{% endblock %}