{% extends "_base.html" %}

{% block page %}
    <div class="pure-u-4-5">
        <h1>Edit {{ cs.name }}</h1>

        <form class="pure-form pure-form-stacked" action="" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <fieldset>
                <label for="enabled">Autoload</label>
                <input id="enabled" type="checkbox" name="autoload" {{ "checked" if cs.autoload }} />

                <p><b>Capture Type</b>: {{ cs.capture_type }}</p>

                {% for field in form %}
                    <div class="input-group {{ 'error' if field.errors }}">
                        {{ field.label if field.name != 'csrf_token' }}
                        {{ field(class_="pure-input-1") }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <span class="pure-form-message error">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="pure-button pure-button-primary">Update</button>
                or <a href="/">cancel</a>

                <hr>
                <div style="margin-top: 100px">
                    <a href="" hx-confirm="Are you sure?" hx-delete="/api/sources/{{ cs.id }}"
                       class="pure-button danger-button">Delete</a>
                </div>

            </fieldset>
        </form>
    </div>
{% endblock %}