{% extends "_base.html" %}

{% block page %}
    <div class="pure-u-4-5">
        <h1>New</h1>

        <form class="pure-form pure-form-stacked" action="" method="post">
            <fieldset>
                {% for field in form %}
                    <div class="input-group {{ 'error' if field.errors }}">
                        {{ field.label if field.name != 'csrf_token' }}
                        {{ field(class_="pure-input-1") }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <span class="pure-form-message error">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="pure-button pure-button-primary">Create</button>
                or <a href="/">cancel</a>
            </fieldset>
        </form>
    </div>
{% endblock %}