{% extends "_base.html" %}

{% block page %}

    <div class="pure-u-4-5" x-data="$store.sources">
        <p><a class="pure-button pure-button-primary" href="/sources/new">Create New</a></p>
        <table class="pure-table pure-table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Last run</th>
                <th>Status</th>
                <th>Preview</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <template x-for="s in data">
                <tr>
                    <td><a :href="'/sources/' + s.id + '/edit'" x-text="s.name"></a></td>
                    <td x-text="s.capture_type"></td>
                    <td x-text="s.last_run"></td>
                    <td x-text="s.autoload ? s.status : 'disabled'"></td>
                    <td><a :href="s.image_url"><img :src="s.thumbnail_url" class="preview" alt=""></a></td>
                    <td>
                        <button class="button-small button-success pure-button"
                                @click="fetch('/api/sources/' + s.id + '/trigger', {method: 'put'})">Run
                        </button>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
        <p>Tasks waiting: <span id="queue-size">–</span></p>
    </div>
{% endblock %}