<html>
<head>
    <link rel="stylesheet" href="/static/pure-min.css"/>
    <link rel="stylesheet" href="/static/app.css"/>
    <script src="/static/htmx.min.js"></script>
    <script src="/static/app.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>

<div class="pure-menu pure-menu-horizontal">
    <h4 class="brand pure-menu-heading">Capturista!</h4>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/" class="pure-menu-link">Overview</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Settings</a>
        </li>
    </ul>
</div>

<div class="container pure-g">
    {% block page %}{% endblock %}
</div>

</body>
</html>
