{% extends "_base.html" %}

{% block page %}
    <div class="pure-u-4-5">

        <p><a class="pure-button pure-button-primary" href="/sources/new">Create New</a></p>
        <table class="pure-table pure-table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Last run</th>
                <th>Status</th>
                <th>Preview</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for cs in capture_configs: %}
                <tr data-cid="{{ cs.id }}">
                    <td><a href="/sources/{{ cs.id }}/edit">{{ cs.name }}</a></td>
                    <td>{{ cs.capture_type }}</td>
                    <td class="last-run">{{ cs.last_run or 'never' }}</td>
                    <td class="status">{{ cs.status or 'unknown' }}</td>
                    <td>
                        <a href="/static/screencaptures/{{ cs.id }}.png" target="_blank">
                            <img src="/static/screencaptures/{{ cs.id }}.png" class="preview" alt="">
                        </a>
                    </td>
                    <td>
                        <button class="button-small button-success pure-button" hx-swap="none"
                                hx-put="/api/sources/{{ cs.id }}/trigger">Run
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <p>Tasks waiting: <span id="queue-size">–</span></p>
    </div>
{% endblock %}